# --- Database ---
DB_HOST=localhost
DB_PORT=5432
DB_USER=gipjazes
DB_PASSWORD=jazes_pass_2026
DB_NAME=gipjazes_main

# --- Redis ---
REDIS_ADDR=localhost:6379
REDIS_PASSWORD=

# --- GCP Configuration ---
GCP_PROJECT_ID=gipjazes-v-2026
GCP_BUCKET_NAME=gipjazes-raw-videos
GCP_TRANSCODED_BUCKET=gipjazes-hls-output
GOOGLE_APPLICATION_CREDENTIALS=configs/gcp-key.json

# --- Server ---
SERVER_PORT=8080
GRPC_PORT=9090

# --- JWT Auth ---
JWT_SECRET=jazes_v_secret_key_change_me_in_prod
